.row{
    background-color: rgb(252, 93, 93);
}

footer{
    color: #fff;
    font-size: 15px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(24, 20, 29);
}
    
